# Python
.venv/
venv/
backend/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment
.env
.env.local
.env.development
.env.test
.env.production
frontend/.env
backend/.env

# Node / React
node_modules/
build/
dist/
.npm/

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store